body{
    background-color: rgb(0, 178, 255);
}
.titulo{
    color: aliceblue;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.logofav{
    margin-inline-start: 15px;
    max-width: 5vh;
}
.eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.formulario{
    width: 225px;
    background-color: aliceblue;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
}
.formulario input{
    width: 100%; /* El ancho de los input será el 100% del contenedor padre */
    box-sizing: border-box; 
    margin-bottom: 5px;
    border: solid 0.2px rgb(0, 178, 255);
    border-radius: 8px;
    padding: 5px;

}
.formulario input:hover{
    background-color: antiquewhite;
}
#agregar{
    background-color: rgb(0, 178, 255);
    color: aliceblue;
    padding: 8px;
}
#agregar:hover{
    background-color: rgb(1, 156, 222);
    color: black;
}
.listaEventos2{
    padding: 8px;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 600px;
    box-shadow: 0px 0px 8px 3px rgb(255, 255, 255);
}
.listaEventos2:empty {
    display: none;
}
.eliminar{
    background-color: greenyellow;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
.eliminar:hover{
    color: aliceblue;
    background-color: red;
}
.evento{
    margin-top: 10px;
    border: solid 2px rgb(0, 178, 255);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: auto; /* Agrega barras de desplazamiento si el contenido se desborda */
}
.evento:hover{
    background-color: rgb(143, 221, 255);
}
.evento, .dias, .nombreEvento, .fechaEvento{
    display: flex;
    padding: 5px;
    padding-inline: 15px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.nombreEvento font {
    max-height: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; 
    word-wrap: break-word; /* Romper palabras largas */
    white-space: pre-line; /* Mantener saltos de línea */
}

.dias{
    font-size: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.diasFaltantes{
    color: green;
    font-size: 35px;
}
footer{
    position: end;
    display: flex;
    justify-content: center;
    text-align: center;
}